<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Login Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  <form [formGroup]="validations1_form"  (ngSubmit)="onSubmit(validations1_form.value)">
    <ion-item>
      <ion-label position="floating" color="primary">Username</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.username">
        <div class="error-message" *ngIf="validations1_form.get('username').hasError(validation.type) && (validations1_form.get('username').dirty || validations1_form.get('username').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="validations1_form.get('email').hasError(validation.type) && (validations1_form.get('email').dirty || validations1_form.get('email').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div formGroupName="matching_passwords">
      <ion-item>
        <ion-label position="floating" color="primary">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message" *ngIf="validations1_form.get('matching_passwords').get('password').hasError(validation.type) && (validations1_form.get('matching_passwords').get('password').dirty || validations1_form.get('matching_passwords').get('password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>
  </form>
    <div class="ref">
        <p>If you don't have an account,<a routerLink="/home">Click here</a></p>
    </div>
    <ion-button color="primary" class="submit-btn" expand="full" type="submit" href="/user" [disabled]="!validations1_form.valid">Submit data</ion-button>
</ion-content>